@import "./../mixins";

.title {
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.app-title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;

  text-align: center;
  color: #3d6666;

  @include respond(phone) {
  }
}
