@import "./../../mixins";

.card {
  background-color: #fff;

  width: 92rem;
  height: 48.1rem;

  border-radius: 2.5rem;

  display: flex;
  justify-content: space-between;

  padding: 3rem;

  @include respond(phone) {
    width: 100vw;
    height: 100%;

    flex-direction: column;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: 3rem 3rem 4rem 3rem;

    justify-content: flex-start;

    gap: 3rem;
  }
}
