@font-face {
  font-family: "SM-Regular";
  src: url("../src/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SM-Bold";
  src: url("../src/assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "SM-Bold";
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 40%;
  }
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #c5e4e7;
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 60%;
  }

  body {
    display: block;
    /* overflow-y: hidden; */
    /* scroll-behavior: smooth; */
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
